<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Bookings</title>
</head>

<body>
    <div>
        <div class="form">
            <form action="/confirmation" method="post" class="booking-form">
                <label>
                <input autocomplete="off" autofocus name="name" placeholder="name"
                type="text" id="firstname" class="formInput">
            </label>
                <label>
                <input autocomplete="off" autofocus name="surname" placeholder="surname"
                type="text" id="surname" class="formInput">
            </label>
                <label>
                <input autocomplete="off" autofocus name="tickets" placeholder="tickets"
                type="text" id="tickets" class="formInput">
            </label>
                <label>
                <input autocomplete="off" autofocus name="email_addr" placeholder="email@email.com"
                type="text" id="email" class="formInput">
            </label>
                <label>
                <input type="submit" id="submit-button" class="submit">
            </label>
            </form>
        </div>
    </div>
</body>

</html>